[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eel = "*"
pyinstaller = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
matplotlib-venn = "*"
venn = "*"

[dev-packages]

[requires]
python_version = "3.11"
